<div class="container mt-3">
    <a href="/cookie/add" class="btn btn-primary">Add Cookie</a>
    <button class="btn btn-primary" type="button" id="invite">
        Mời thành viên
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
    </button>
    <h2>Danh Sách Workspace</h2>

    <button id="addWorkspaceButton" class="btn btn-success">Add Workspace</button>
    <div class="table-responsive-lg">
        <table class="table table-bordered" id="workspaceTable">
            <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Max Slots</th>
                <th>Actions</th>

            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<!-- DataTables -->